body {
    margin: 0;
    padding: 0;
    background-color: bisque;
}
.interest {
    flex-basis: 16%;
    border: 1px dotted darkblue;
    padding: 1em;
    margin: 0.5em;
}
.bio__interests {
    display: flex;  /* Display the child items in a Flex layout */
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;

}